@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  
  100% {
    transform: translateX(-50%);
  }
}

.marquee-inner {
  animation: marquee 25s linear infinite;
  white-space: nowrap;
  display: inline-flex;
}